@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(45deg, rgb(245, 146, 32), rgb(86, 112, 139));
}

.container {
  max-width: 960px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .header-reg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container .header-reg .img{
    width: 100%;
}

.container .header-reg .logo {
    height: 100px;
}

.container .info-reg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.container .info-reg a.btn{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

.container .info-reg a.btn-logout{
    width: 75px;
    height: 45px;
    background-color: red;
}

.container .info-reg a.btn-contact{
    width: 85px;
    height: 45px;
    background-color: rgb(0, 47, 255);
}

.container .info-reg a.btn-logout:hover{
    background-color: rgb(225, 22, 22);
}

.container .info-reg a.btn-contact:hover{
    background-color: rgb(42, 4, 193);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background: linear-gradient(45deg, rgb(86, 112, 139), rgb(245, 146, 32));
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 5px 0;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input.valid {
  border-color: rgb(245, 146, 32);
}

.user-details .input-box input.error {
  border: 2px solid #ff0000 !important;
  box-shadow: 1px 1px 2px 4px rgb(255, 23, 23);
}

input[readonly]{
  background-color: #cecece;
}

form p.redirect-path{
  padding-top: 20px;
  text-align: center;
}

form p.redirect-path a:hover{
  color: rgb(0, 111, 238);
  text-decoration: none;
}

form .button {
  height: 45px;
  margin: 30px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(45deg, rgb(245, 146, 32), rgb(217, 119, 8));
  transition: all 0.5s ease;
}

form .button input:hover {
  background: linear-gradient(45deg, rgb(86, 112, 139), rgb(245, 146, 32));
}

@media (max-width: 850px){
    .container .info-reg{
        width: 100%;
    }

    .container .info-reg .title{
        width: 100%;
    }

    .container .info-reg .btn{
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .user-details::-webkit-scrollbar {
    width: 0;
  }

  form .button {
    margin: px 0;
  }
}
