	@charset "utf-8";


html, body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body{
	margin-top:93px;
	margin-left:0px;
	margin-right: 0px;
}

a:link {
	color: rgba(255,255,255,1.00);
}


a:hover {
text-decoration: none;  
color:rgba(245,126,32,1.00);
}

.navbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.navbar .nav-link {
    font-size: 20px;
    margin-left: 15px;
	color:white !important;
}


.navbar .nav-link:hover 
{
color:rgba(245,126,32,1.00) !important;
}

.navbar .nav-link:active
{
color:rgba(245,126,32,1.00) !important;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top #navbarNav {
	padding-right: 25%;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top img {
    padding-left: 20%;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
	color:rgba(245,126,32,1.00) !important;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
	color:rgba(0,0,0,1.00) !important;
}

/***********keyframes and animations ********************/


/************ Buttons *******************/

.btn.tools-btn-sm {
    width: 140px;
    height: 40px;
   /* border: 2px solid rgba(255,255,255,1.00);*/
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: rgba(50,60,100,1.00);
    color: rgba(255,255,255,1.00);
}


.btn.tools-btn-lg-W {
    width: 253px;
    height: 35px;
   /* border: 2px solid rgba(86,112,139,1.00);*/
	background-color: rgba(255,255,255,1.00);
		color: rgba(0,0,0,1.00);
 /*   margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;*/
}

.btn.tools-btn-lg-Bl {
    width: 253px;
    height: 35px;
   /* border: 2px solid rgba(86,112,139,1.00);*/
	background-color: rgba(86,112,139,1.00);
		color: rgba(255,255,255,1.00);
 /*   margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;*/
}


.row .col-xl-4 .btn.btn-sm {
    width: 110px;
	height:35px;
    background-color: rgba(50,60,100,1.00);
    color: rgba(255,255,255,1.00);
}

.btn.btn-lg {
	width: 210px;
    background-color: rgba(50,60,100,1.00);
    color: rgba(255,255,255,1.00);
	margin:auto;
}

.btn.btn-lgOr {
	width: 180px;
    background-color: rgba(245,126,32,1.00);
    color: rgba(255,255,255,1.00);
	margin:auto;
}

.btn.btn-xlgOr {
	width: 210px;
    background-color: rgba(245,126,32,1.00);
    color: rgba(255,255,255,1.00);
	margin:auto;
	height: 45px;
}


.btn.btn-sm-or {
    background-color: rgba(255,110,0,1.00);
    color: rgba(255,255,255,1.00);
    width: 110px;
	height:35px;
}

.btn.btn-sm-bl {
    background-color: rgba(50,60,100,1.00);
    color: rgba(255,255,255,1.00);
    width: 110px;
    height: 35px;
    line-height: 120%;
}

.btn.btn-md-bl {
    background-color: rgba(50,60,100,1.00);
    color: rgba(255,255,255,1.00);
    width: 150px;
    height: 35px;
    line-height: 120%;
}

#top-container-fluid #top-container .btn.btn-sm {
    background-color: rgba(50,60,100,1.00);
    color: rgba(255,255,255,1.00);
    width: 110px;
	height:35px;
}

/****** Containers **************/

#top-container {
	/*background-color:rgba(255,255,255,1.00);*/
	min-height: 490px;
	width: 70vw;
	max-width:70vw;
	padding-left: 100px;
	/*margin: 0 calc(-50w +50%);*/
}

#top-container-fluid {

	background-color:rgba(255,255,255,1.00);	
	/*background-image: url("../images/Xplorerban5.webp");
	background-position:right; 
	background-repeat:no-repeat;
	background-size:cover;
	background-size: 102vw;*/
	margin-top: -2px;
/*	margin-left:-15px;*/

}


#first-container-fluid {
	min-height: 300px;
	background-color: rgba(245,126,32,1.00); 
 	background-image: url("../images/part2.webp");
	background-position: right; 
	background-repeat: no-repeat;
	/*background-size: 100vw; */
}


#first-container {
	
}


#second-container-fluid {
    min-height: 300px;
 /*background-image: url("../images/abs5a.webp");*/
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 100vw; 
}


#second-container-fluid #second-container {
    text-align: center;
}

#2b-container-fluid{
	min-height: 300px;
}


#third-container-fluid {
    min-height: 300px;
   background-color:rgba(245,126,32,1.00);
   
    border-top: 1px solid rgba(225,219,219,1.00);
}


#third-container{
		/*background-color: rgba(245,126,32,1.00); */
}

 #fourth-container-fluid {
    min-height: 500px;
	/*background-image: url("../images/absOr2.webp");*/
	/*background-image: url("../images/numbak.webp");*/
	background-color: rgba(255,255,255,1.00); 
}


#fourth-container-fluid #fourth-container #fourth-container-b {
    border: 1px solid rgba(0,0,0,1.00);
	background-color: rgba(248,248,248,1.00);
	/*background-color: rgba(255,193,59,1.00);*/
    width: 1100px;
	text-align: left;
	margin-left: -3px;
}

 #fifth-container-fluid {
    min-height: 500px;
	/*background-color: rgba(245,126,32,1.00); */
	 background-color: rgba(87,87,87,1.00); 
}

#client-container-fluid{
    min-height: 500px;
   background-color: rgba(255,255,255,1.00);
  /*  border-top: 2px solid rgba(195,190,190,1.00);
    -webkit-box-shadow: 5px 0px 5px rgba(112,110,110,1.00);
    box-shadow: 5px 0px 5px rgba(112,110,110,1.00);*/
/*	background-image: url("../images/numbak.webp");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 100vw; */
}

#client-container{
	min-height:500px;
	background-color:rgba(255,255,255,1.00);
}

#footer-container-fluid {
	background-color:rgba(18,45,71,1.00);
	min-height: 500px;	
}


.container.horizontal-scrollable .row.text-center .col-xs-4 {
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    text-align: center;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}
#fourth-container #fourth-container-row .col-xl-6 {

}


#page-third-container .row .col-xl-2 {
    padding-left: 30px;
    padding-right: 30px;

}
.row .col-xl-3 .card.text-center.col-md-12 {
    border: 3px solid rgba(50,60,100,1.00);
}
#page-first-container-fluid #dms top-row {
    float: right;
}
#page-second-container .row .col-md-5 {

}
#dmspage-second-container-fluid {
    background-image: url(../images/absOr3.webp);
    background-size: cover;
    background-repeat: no-repeat;
}



/*************** cards *********/

.card-text {
	padding-top:10px;
}

.card-header{
	/*background-color: rgba(170,245,232,1.00) 
	background-color: rgba(255,193,59,1.00);*/
	background-color: rgba(50,60,100,1.0);
	color: rgba(255,255,255,1.00);
}

.card-title{
	color:rgba(58,58,58,1.00);	
}

.card {
	border-radius:5%;
	/*box-shadow: 0 0 10px 10px rgba(100, 100, 100, 1.0);*/
	/*border: 5px solid black;*/
	
}


/*************** fonts **********/

H1Bl{
	font-family: Poppins, Sans-Serif;
	font-size: 44px;
	color:rgba(86,112,139,1.00);
	/*font-weight:bold;*/
}

H1Or{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(255,110,0,1.00);
	text-align: left;
}

H1OrLg{
	font-family: Poppins, sans-serif;
	font-size: 44px;
	color:rgba(255,110,0,1.00);
	text-align: left;
}

H1OrDk{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(255,110,0,1.00);
	text-align: left;
}

H1OrDkC{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(255,110,0,1.00);
	text-align: center;
}

H1BlDk{
	font-family: Poppins, Sans-Serif;
	font-size: 44px;
	color:rgba(50,60,100,1.00)
	/*font-weight:bold;*/
}

H1BlC{
	font-family: Poppins, Sans-Serif;
	font-size: 44px;
	color:rgba(86,112,139,1.00);
	text-align: center;
}

H1BlCDk{
	font-family: Poppins, Sans-Serif;
	font-size: 44px;
	color:rgba(3,3,120,1.00);
	text-align: center;
}

H1Wtx{
	font-family: Poppins, Sans-Serif;
	font-size: 44px;
	color:rgba(255,255,255,1.00);
	/*font-weight:bold;*/
}

H1WtC{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(255,255,255,1.00);
	text-align: center;
}

H1Wt{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(255,255,255,1.00);
	text-align: left;
}

H1BkC{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(0,0,0,1.00);
	text-align: center;
}

H1GrC{
	font-family: Poppins, sans-serif;
	font-size: 38px;
	color:rgba(58,58,58,1.00)
	text-align: center;
}


H15BK{
	font-family: Poppins, sans-serif;
	font-size: 28px;
	color:rgba(0,0,0,1.00);
}

H15Wt{
	font-family: Poppins, sans-serif;
	font-size: 26px;
	color:rgba(255,255,255,1.00);
}

H15Bl{
	font-family: Poppins, sans-serif;
	font-size:36px;
	color:rgba(86,112,139,1.00);
}


H15BlDk{
	font-family: Poppins, sans-serif;
	font-size:36px;
	color:rgba(50,60,100,1.00);
}

H15Gr{
	font-family: Poppins, sans-serif;
	font-size: 25px;
	color:rgba(48,48,48,1.00)	
}

H15OrDk{
	font-family: Poppins, sans-serif;
	font-size:36px;
	color:rgba(255,110,0,1.00);
}

H175OrDk{
	font-family: Poppins, sans-serif;
	font-size:28px;
	color:rgba(255,110,0,1.00);
}

H175BlDk{
	font-family: Poppins, sans-serif;
	font-size:28px;
	color:rgba(50,60,100,1.00);
}


H2Wt{
	font-family: Poppins, sans-serif;
	font-size:22px;
	color:rgba(255,255,255,1.00);
	line-height:175%;
}

H2WtC{
	font-family: Poppins, sans-serif;
	font-size:22px;
	color:rgba(255,255,255,1.00);
	line-height:175%;
	text-align:center;
}

H2B{
	font-family: Poppins, sans-serif;
	font-size:22px;
	color:rgba(0,0,0,1.00);
	line-height:175%;
}


H2Or{
	font-family: Poppins, sans-serif;
	font-size:24px;
	color:rgba(245,126,32,1.00);
}

H2OrDk{
	font-family: Poppins, sans-serif;
	font-size:24px;
	color:rgba(255,110,0,1.00);
}

H2Rd{
	font-family: Poppins, sans-serif;
	font-size:26px;
	color:rgba(255,0,0,1.00);
}

H2Bl{
	font-family: Poppins, sans-serif;
	font-size:24px;
	color:rgba(86,112,139,1.00);
}

H2BlDk{
	font-family: Poppins, sans-serif;
	font-size:22px;
	color:rgba(50,60,100,1.00);
}


BtxtLgB
{
	font-family: Poppins, Sans-Serif;
	font-size:20px;
	color:rgba(0,0,0,1.00);
	text-align: left;
}


BtxtLgWt
{
	font-family: Poppins, Sans-Serif;
	font-size:20px;
	color:rgba(255,255,255,1.00);
}


BtxtLgBl{
	font-family: Poppins, Sans-Serif;
	font-size: 20px;
	color:rgba(50,60,100,1.00)
	/*font-weight:bold;*/
}

BtxtLgGr
{
	font-size:19px;
	color:rgba(28,28,28,1.00);
}

BtxtLgOr
{
	font-size:20px;
	color:rgba(245,126,32,1.00);
}

BtxtLgOrDk
{
	font-size:20px;
	color:rgba(255,110,0,1.00);
}

BtxtMdB
{
	font-family: Poppins, Sans-Serif;
	font-size:18px;
	color:rgba(0,0,0,1.00);
}


BtxtMdBl{
	font-family: Poppins, Sans-Serif;
	font-size: 18px;
	color:rgba(50,60,100,1.00)
	/*font-weight:bold;*/
}

BtxtMdGr
{
	font-family: Poppins, Sans-Serif;
	font-size:16px;
	color:rgba(28,28,28,1.00);
}

BtxtMdWt{
	font-family: Poppins, Sans-Serif;
	font-size: 18px;
	color:rgba(255,255,255,1.00)
}

BtxtB
{
	font-family: Poppins, Sans-Serif;
	font-size:16px;
	color:rgba(0,0,0,1.00);
}


BtxtBl
{
	font-size:16px;
	color:rgba(86,112,139,1.00);
	}

BtxtBlDk
{
	font-family: Poppins, sans-serif;
	font-size:16px;
	color:rgba(50,60,100,1.00);
	}

BtxtW {
	font-size:16px;
	color:rgba(255,255,255,1.00);
}


BtxtBsm
{
	font-family: Poppins, sans-serif;
	font-size:14px;
	color:rgba(0,0,0,1.00);
}


.footer-link a {
	font-family: Poppins, sans-serif;
	font-size:18px;
	color:rgba(255,255,255,1.00);
}


.footer-link a:hover{
	color:rgba(245,126,32,1.00);
}


 .horizontal-scrollable > .row { 
            overflow-x: auto; 
            white-space: nowrap; 
        } 

.horizontal-scrollable > .row > .col-xs-4 { 
            display: inline-block; 
            float: none; 
        } 

.nav-item.dropdown .dropdown-menu .dropdown-item {
}
